body {
    background-image: url('../static/img/bodyfundo4.jpg'); 
    
    background-repeat: no-repeat;
    
    /* Cobre tudo */
    background-size: cover;
    
    /* 4. Fixa a imagem, n vai rolar tudo */
    background-attachment: fixed;
}

/* INICIO DO CÓDIGO DO HERO */
.hero-section {
    background-color: transparent;
    min-height: 500px;
    box-shadow: 0 10px 20px rgba(0 , 0, 0, 0.2);
}

.hero-section {
    background-image: url('../static/img/fundoprinc3.webp');
    
    /* Configuração para a imagem */
    background-size: cover;      
    background-position: center;  
    background-repeat: no-repeat; 
    min-height: 600px;
    padding-top: 80px;
    position: relative;
}

.text-blue {
    color: #A82C2C;
}

.btn-sobre-hero {
    background-color: #A82C2C !important;
    color: #FFF8E1 !important;
    border: none;
    transition: background-color 0.3s ease, transform 0.2s ease !important;
}

.btn-sobre-hero:hover {
    background-color: #B88A00 !important;
    transform: translateY(-2px) !important; 
}

.btn-menu {
    background-color: rgba(255, 255, 255, 0.232) !important;
    color: #FFF8E1 !important; 
    border: 2px solid #FFF8E1 !important; 
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease !important;
}


.btn-menu:hover {
    background-color: #FFF8E1 !important;
    color: #4E342E !important; 
}

.text-escolha {
    color: #FFF8E1;
}

/* FIM DO CÓDIGO DO HERO */










/* INICIO DO HOME DO SITE / BLOG E MOSTRAS */
.featured-post {
      background-color: #4E342E;
      padding: 40px;
      border-radius: 10px;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    }

    .featured-post .featured-img-cover {
      width: 100%;
      height: 350px;
      object-fit: cover;
      border-radius: 10px;
    }

    .featured-post img {
        border-radius: 10px;
    }

    .card {
      border: none;
      border-radius: 15px !important;
      overflow: hidden !important;
      box-shadow: 0 8px 16px rgba(0,0,0,0.15) !important;
      background-color: #4E342E !important;
      border-bottom: 5px solid #A82C2C !important;
    }

    .card img {
        width: 100%;
        height: 350px;
        object-fit: cover;
        border-radius: 10px;
    }

    .card:hover {
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
        transform: translateY(-2px);
        transition: all 0.3s ease-in-out;
    }

    .card-body {
      padding: 20px;
    }

    .card-title {
        color: #FFF8E1 !important;
        font-weight: bold !important;
        font-size: 1.2em !important;
        text-align: center !important;
    }

    .card-text {
        color: #FFF8E1 !important;
        padding: 15px !important;
        font-size: 0.9em !important;
        line-height: 1.5 !important;
    }

    .blog-header {
      text-align: center;
      margin-bottom: 40px;
    }

    .blog-header h1 {
      font-size: 3rem;
      font-weight: bold;
    }

    .blog-header p {
      font-size: 1.25rem;
      color: #6c757d;
    }


.btn-main {
    background-color: #A82C2C !important;
    color: #FFF8E1 !important;
    transition: background-color 0.3s ease, transform 0.2s ease !important;
}

.btn-main:hover {
    background-color: #B88A00 !important;
    transform: translateY(-2px) !important; 
}


.separar {
    padding-top: 60px;
}

.btn-menu-escolha {
    background-color: #A82C2C !important;
    color: #FFF8E1 !important;
    border: none !important;
    font-size: 1.1em !important;
    font-weight: bold !important;
    border-radius: 5px !important;
    transition: background-color 0.3s ease !important;
}

.text-title {
    color: #FFF8E1 !important;
}


.btn-menu:hover {
    transform: translateY(-2px) !important;
    transition: all 0.3s ease-in-out !important;
}

.btn-primary:hover {
    transform: translateY(-2px) !important;
    transition: all 0.3s ease-in-out !important;
}

.title-section {
    color: #B88A00 !important;
}

.div-separar {
    margin-bottom: 35px;
}