/* INICIO DO CÓDIGO DO HERO */
.hero-section {
    background: linear-gradient(135deg, #6366f1 0%, #8b5cf6 100%);
    min-height: 500px;
}

.hero-section {
    /* Adiciona a imagem de fundo */
    background-image: url('../static/img/fundo1.jpg');
    
    /* Configurações para a imagem */
    background-size: cover;       /* Garante que a imagem cubra toda a seção */
    background-position: center;  /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    min-height: 600px;
    padding-top: 80px;
    position: relative;
}

.text-blue {
    color: rgb(45, 111, 241);
}

/* Botão "Sobre" - De btn-light (Branco) para Fundo Azul */
.btn-sobre {
    background-color: rgb(45, 111, 241) !important; /* Fundo Azul */
    border-color: rgb(45, 111, 241) !important; /* Borda Azul */
    color: white !important; /* Texto branco */
}

/* Efeito Hover do botão Sobre */
.btn-sobre:hover {
    background-color: #0056b3 !important; /* Azul um pouco mais escuro no hover */
    border-color: #0056b3 !important;
}

.btn-menu {
    background-color: rgba(255, 255, 255, 0.232) !important;
    color: rgba(255, 255, 255, 0.708) !important;
}

/* Botão "Menu" - Efeito Hover de Outline Light para Fundo Azul */
.btn-menu:hover {
    background-color: rgb(45, 111, 241) !important; /* Fundo Azul no hover */
    border-color: rgb(45, 111, 241) !important; /* Borda Azul no hover */
    color: white !important; /* Texto Branco no hover */
}

/* FIM DO CÓDIGO DO HERO */





