

.navbar {
  background-color: #4E342E;
  box-shadow: 15px 15px black !important;
}

.navbar .nav-link,
.navbar-brand {
  color: #FFF8E1 !important;
}

.navbar .nav-link:hover {
  color: #FFF8E1 !important;
}

.logo-img {
    width: 48px !important;
    height: auto !important;
    object-fit: contain !important;
}


/* tirando a borda preta do botao menu */
.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none !important;
    box-shadow: none !important;
}

.navbar-toggler {
    border-color: #A82C2C !important; /* azul */
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath stroke='%23A82C2C' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

/* efeito de tempo */
.navbar-nav .nav-link {
    transition: transform 0.2s ease, color 0.2s ease !important;
    font-weight: 500 !important;
}

/* efeito flutuação nos links */
.navbar-nav .nav-link:hover {
    transform: translateY(-3px) !important; /* sobe um pouquinho */
    color: #FFF8E1 !important; /* muda a cor no hover */
}

/* efeito de tempo*/
.navbar-toggler {
    transition: transform 0.2s ease !important;
}

/* efeito flutuação no menu burguer */
.navbar-toggler:hover {
    transform: translateY(-3px) !important;
}

/* sombra ao passar o mouse dps da flutuação */
.navbar-nav .nav-link:hover {
    transform: translateY(-3px) !important;
    color: #FFF8E1 !important;
    text-shadow: 0 2px 6px rgba(0,0,0,0.2) !important;
}