<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../css/home.css">

    <!--LINKS PRO NAVBAR-->
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">

    <!--LINKS PRO FOOTER-->
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.0/css/bootstrap.min.css">
</head>
<body>
    <!--INICIO DO NAVBAR-->
    <nav class="navbar navbar-expand-lg navbar-light shadow-sm fixed-top">
    <div class="container">
        <a class="navbar-brand" href="home.html">
            <img src="../static/img/logo1.png" alt="logo" class="logo-img me-1">
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav1">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav1">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="home.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="sobre.html">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="menu.html">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="chefs.html">Chefs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="reserva.html">Reserva</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contato.html">Contato</a>
                </li>
              
            </ul>
        </div>
    </div>
    </nav>
    <!--FIM DO NAVBAR-->


    <!--INICIO DO HERO-->
    <section class="hero-section text-white d-flex align-items-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h1 class="display-4 fw-bold mb-4 text-escolha">Bem-vindo ao site da <span class="text-blue">Brasa Nobre</span></h1>
                <p class="mb-4" style="color: #FFF8E1; font-weight: normal;">Onde a paixão pelo churrasco encontra a perfeição em cada corte <br> Venha celebrar a arte da brasa em um ambiente inesquecível.</p>
                <a href="sobre.html" class="btn px-4 btn-sobre-hero" style="background-color: #A82C2C; color: #FFF8E1;">Conheça mais</a>
                <a href="menu.html" class="btn btn-menu px-4">Nosso menu</a>
            </div>
        </div>
    </div>
    </section>
    <!--FIM DO HERO-->




 <!--INICIO DO CORPO DO SITE-->
<!-- Featured Post Section -->
<div class="container mb-5">
  <div class="row">
    <div class="col-lg-12">
      <div class="featured-post">
        <div class="row">
          <div class="col-md-6">
            <img src="../static/img/princ1.jpg" alt="Featured Post" class="img-fluid featured-img-cover">
          </div>
          <div class="col-md-6">
            <h2 class="title-section">A Essência da Brasa na Sua Mesa</h2>
            <p class="mt-3" style="
            color: #FFF8E1;">Celebre a arte do churrasco com a gente. Cortes nobres, rodízio farto e um ambiente perfeito para quem ama carne de verdade.</p>
            <a href="sobre.html" class="btn btn-main px-4">Sobre</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Blog Post Grid -->
<div class="container">

    <!-- INÍCIO DO TÍTULO DE SEÇÃO: NOSSAS LOCALIZAÇÕES -->
      <div class="row">
        <div class="col-lg-12">
          <div class="blog-header">
            <h2 class="display-6 title-section fw-bold">Nosso Local</h2>
            <p class="text-title lead">Os Cenários Exclusivos e a Magia do Fogo que Elevam a Experiência.</p>
          </div>
        </div>
      </div>
      <!-- FIM DO TÍTULO DE SEÇÃO: NOSSAS LOCALIZAÇÕES -->


  <div class="row g-4 div-separar">
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <img src="../static/img/post1.jpg" class="card-img-top" alt="Post 1">
        <div class="card-body">
          <h5 class="card-title">A Arte Milenar da Brasa</h5>
          <p class="card-text lead">Relaxe e sinta o calor do nosso fogo, o coração da casa. Detalhes sobre o preparo impecável da carne, o espetáculo do fogo e a fumaça que garantem a textura e o sabor que você espera de um churrasco autêntico.</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card">
        <img src="../static/img/post2.jpg" class="card-img-top" alt="Post 2">
        <div class="card-body">
          <h5 class="card-title">A Maestria do Nosso Parrillero</h5>
          <p class="card-text lead">Suba ao balcão e seja recompensado com a visão imbatível e espetacular dos nossos cortes nobres. Descubra a técnica e precisão com que cada peça é preparada, garantindo o ponto perfeito e as fotos memoráveis.</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card">
        <img src="../static/img/post3.jpg" class="card-img-top" alt="Post 3">
        <div class="card-body">
          <h5 class="card-title">Cortes Nobres e Sabor Sem Limites</h5>
          <p class="card-text lead">Somos mais que um restaurante! Conheça nossa vasta seleção de carnes premium, com opções para todos os paladares. Desfrute da excelência do nosso rodízio ou do serviço à la carte, enquanto a família e os amigos celebram a vida ao máximo.</p>
        </div>
      </div>
    </div>

      <!-- INÍCIO DO TÍTULO DE SEÇÃO: PRATOS PRINCIPAIS (Com Botão) -->
      <div class="row separar">
        <div class="col-lg-12">
          <div class="blog-header">
            <h2 class="display-6 title-section fw-bold">Pratos Principais</h2> 
            <p class="text-title lead">Uma amostra dos nossos pratos mais pedidos e as especialidades do chef. Confira o menu completo!</p>
            
            <!-- BOTÃO PARA ACESSAR O MENU COMPLETO -->
            <a href="menu.html" class="btn btn-primary btn-lg mt-3 btn-menu-escolha shadow-lg">
                Ver Menu Completo
            </a>
            <!-- FIM DO BOTÃO -->
          </div>
        </div>
      </div>
      <!-- FIM DO TÍTULO DE SEÇÃO: PRATOS PRINCIPAIS -->


    <div class="col-md-6 col-lg-4">
      <div class="card">
        <img src="../static/img/post4.webp" class="card-img-top" alt="Post 4">
        <div class="card-body">
          <h5 class="card-title">Picanha na Brasa com Manteiga de Alho</h5>
          <p class="card-text lead">Corte nobre, assado lentamente na brasa, servido fatiado com manteiga de alho derretida e sal grosso.</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card">
        <img src="../static/img/post5.png" class="card-img-top" alt="Post 5">
        <div class="card-body">
          <h5 class="card-title">Costela Bovina Desossada no Bafo</h5>
          <p class="card-text lead">Costela cozida lentamente por horas até ficar desmanchando, finalizada na grelha com glaze de churrasco artesanal.</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card">
        <img src="../static/img/post6.avif" class="card-img-top" alt="Post 6">
        <div class="card-body">
          <h5 class="card-title">Bife Ancho (Ribeye) Mal Passado com Chimichurri</h5>
          <p class="card-text lead">Corte argentino de alto marmoreio, grelhado no ponto ideal e servido com chimichurri fresco.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--FIM DO CORPO DO SITE-->




<!--INICIO DO FOOTER-->
<footer class="mt-auto pt-4 pb-4">
    <div class="container">
        <div class="row">
            <!-- Información de la empresa -->
            <div class="col-md-3 mb-3">
                <h5 class="title-fot">Sobre nós</h5>
                <p class="text-lg">Somos um restaurante especializado em frutos do mar, preparado com ingredientes frescos todos os dias. Trabalhamos para oferecer sabor, qualidade e uma experiência única à mesa.</p>
            </div>

            <!-- Enlaces rápidos -->
            <div class="col-md-3 mb-3">
                <h5 class="title-fot">Links Rápidos</h5>
                <ul class="list-unstyled text-lg">
                    <li class="nav-item">
                        <a class="nav-link" href="home.html">
                            <i class="bi bi-house text-lg"></i> Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="sobre.html">
                            <i class="bi bi-info-circle text-lg"></i> Sobre
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contato.html">
                            <i class="bi bi-envelope text-lg"></i> Contato
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  href="reserva.html">
                            <i class="bi bi-shield-lock text-lg"></i> Reserva
                        </a>
                    </li>
                </ul>
            </div>

            <!-- Información de contacto -->
            <div class="col-md-3 mb-3">
                <h5 class="title-fot">Contato</h5>
                <ul class="list-unstyled text-lg">
                    <li><i class="bi bi-geo-alt-fill"></i> Rua Guamares de Souza Menino, João Pessoa - PB</li>
                    <li><i class="bi bi-telephone-fill"></i>(83) 98781-1233</li>
                    <li><i class="bi bi-envelope-fill"></i> churrascariabrasanobre@gmail.com.br</li>
                </ul>
            </div>

            <!-- Redes Sociales -->
            <div class="col-md-3 mb-3">
                <h5 class="title-fot">Siga também</h5>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="" class="text-lg marrom"><i class="bi bi-instagram fs-4"></i></a></li>
                    <li class="list-inline-item"><a href="" class="text-lg marrom"><i class="bi bi-linkedin fs-4"></i></a></li>
                </ul>
            </div>
        </div>

        <hr class="barra">
        

        <!-- Derechos de autor -->
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="mb-0">&copy; 2025 Brasa Nobre. Todos os direitos reservados.</p>
            </div>
        </div>
    </div>
</footer>
<!--FINAL DO FOOTER-->


<!--CÓDIGO PRO NAVBAR-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js"></script>
</body>
</html>
