<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservas</title>
    <link rel="stylesheet" href="../css/reserva.css">
</head>
<body>
    <div class="area-forms">
    <form class="formular">
        <h1>Faça sua reserva:</h1>
        <p>Preencha os dados:</p><br>
        <label class="acima">Nome Completo</label>
        <input type="text" class="nome" placeholder="Seu nome Completo">
        <label class="acima">Número telefone/celular</label>
        <input type="number" class="numero" placeholder="(xx)x xxxx-xxxx">
        <label class="acima">Pessoas</label>
        <select>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
        </select>
        <label class="acima">Alguma observação necessária(opcional)</label>
        <input type="text" class="area-grande" placeholder="Digite Aqui"><br>
        <div class="botoes">
        <button type="submit">Cancelar</button>
        <button type="submit">Enviar</button>
        </div>
    </form>
</div>
<div class="area-recentes">
    <div class="titulo">
        <h1>Reservas Recentes</h1>
    </div>
    <div class="boxes">
        <div class="card">
            <div class="esquerdacard">
                <h1>Cauã Alves</h1>
                <p>21/11/24 18:30</p>
            </div>
            <div class="direitacard">
                <p>3 pessoas</p>
            </div>
        </div>
         <div class="card">
            <div class="esquerdacard">
                <h1>Michael neto</h1>
                <p>21/11/24 19:00</p>
            </div>
            <div class="direitacard">
                <p>2 pessoas</p>
            </div>
        </div>
         <div class="card">
            <div class="esquerdacard">
                <h1>Francisco Bufalo</h1>
                <p>21/11/24 20:00</p>
            </div>
            <div class="direitacard">
                <p>7 pessoas</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>

